<nav class="main-nav">
  <ul>
    <li>
      <a href="/dashboard">
        <span class="material-symbols-rounded">inbox</span>
        <span class="nav-label">Inbox</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-symbols-rounded">sms</span>
        <span class="nav-label">New Message</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="material-symbols-rounded">dialpad</span>
        <span class="nav-label">Dial</span>
      </a>
    </li>
    <li>
      <a href="#" onclick="logout();">
        <span class="material-symbols-rounded">settings</span>
        <span class="nav-label">Settings</span>
      </a>
    </li>
  </ul>
</nav>

<script src="/client.js"></script>