<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Lorem Ipsum</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="main-head">
        <span class="fw-5">LOREM IPSUM</span>
        <span class="">
          <nav class="main-nav">
            <ul>
              <li><a href="">Work</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Instagram</a></li>
            </ul>
          </nav>
        </span>
      </header>
      
      <section class="content">
        <article class="c-1">
          <h1>Main article area</h1>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
        </article>
        
        <article class="c-2">
          <h1>Main article area</h1>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
        </article>
        
        <article class="c-3 w">
          <h1>Main article area</h1>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
        </article>
        
        <article class="c-4">
          <h1>Main article area</h1>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
          <p>
            <span class="subheader">Sub-header</span>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
          <p>
            In this layout, we display the areas in source order for any screen
            less that 500 pixels wide. We go to a two column layout, and then to a
            three column layout by redefining the grid, and the placement of items
            on the grid.
          </p>
        </article>
      </section>
      
      <footer class="main-footer">
        <article class="c-2 w">
          <p>&copy;MMXXV</p>
          <p class="">
            Lorem ipsum dolor sit amet
          </p>
        </article>
      </footer>
    </div>

  </body>

</html>
