<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JWT Authentication</title>
    <%- include("partials/head") %>
  </head>
    
  <body>
    <h1>register.html</h1>
    <form id="registerForm">
      <label for="registerUsername">Username:</label>
      <input type="text" id="registerUsername" required />
      <label for="registerPassword">Password:</label>
      <input type="password" id="registerPassword" required />
      <button type="submit">Register</button>
    </form>
    
    <%- include("partials/footer") %>
  </body>
</html>
